/* Importing fonts correctly */
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

.root {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif; /* Make sure to use 'Roboto' here */
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif; /* You can also set this for the body */
}

/* Use different font weights where needed */
h1 {
    font-weight: 700; /* Bold weight */
}

h2 {
    font-weight: 500; /* Medium weight */
}

p {
    font-weight: 300; /* Light weight */
}
    